<section id="job" class="section">

	<section class="callout">
		<div class="container">
			<h4 class="subtitle"><%= @job.title %></h4>
			<h5 class="subtitle" style="padding-top:5px;"><%= @job.location %></h5>
			<%=raw @job.description %>
		</div>
	</section>

	<div class="container">
		
		<div class="contact-form">
			
			<div class="error-container">
				<span class="error" id="error-name">Please enter your name</span>
				<span class="error" id="error-email">Please enter your email</span>
				<span class="error" id="error-resume">Please attach your resume</span>
				<span class="error" id="error-valid-email">Your e-mail is not a valid format</span>
				<span class="error" id="error-valid-phone">Your phone number is not a valid format</span>
				<span class="error" id="error-timedout">The email submission timed out. Please try again.</span>
				<span class="error" id="error-state">Oops! An error occurred. Please try again later.</span>
				<span class="success" id="email-success">Message received! Thank you.</span>
			</div><!-- end error messages -->

			<%= form_for @applicant, id: "contact-us", html: {multipart: true} do |f| %>
				<%= f.hidden_field :job_id, value: @job.id %>
				<div class="eight columns">
					<%= f.text_field :name, placeholder: "Name" %>
					<%= f.text_field :email, placeholder: "Email" %>
					<%= f.text_field :phone, placeholder: "Phone (optional)" %>
					<%= f.text_field :company, placeholder: "Company" %>
				</div>
				<div class="eight columns">
					<%= f.text_field :city, placeholder: "City" %>
					<%= f.text_field :state, placeholder: "State" %>
					<h5>Attach Your Resume</h5>
					<%= f.file_field :resume %>
				</div>

				<%= f.submit "Submit Application", id: "submit" %>
			<% end %>
			
		</div><!-- end contact form -->

	</div><!-- end container -->

</section><!-- end map section -->