<section id="about" class="section">
	<section class="callout">
		<h2 class="title"><%= @headline.title %></h2>
		<h4 class="subtitle"><%= @headline.subtitle %></h4>
	</section>

	<div class="container">
		<% @bullets.each do |bullet| %>
			<div class="four columns about-item">
				<a href="#" class="icon-btn"><i class="fa fa-<%= bullet.icon %> fa-4x"></i></a>
				<h5><%= bullet.title %></h5>
				<%= bullet.subtitle %>
			</div>
		<% end %>
	</div><!-- end container -->

	<div class="paneled-bg">
		<h2>Leadership</h2>
		<div id="team-slider" class="owl-carousel owl-theme">
			<% @partners.each do |partner| %>
				<div class="team">
					<div class="team-photo">
						<%= image_tag partner.photo, class: "scale-with-grid", width: "300px" %>
					</div><!-- end team photo -->
					<div class="team-title">
						<h4><%= partner.name %></h4>
						<h6><%= partner.title %></h6>
					</div>
					<div class="team-info">
						<p><%= partner.bio %></p>
						<ul class="team-social-links">
							<li><a href="<%= partner.linkedin %>" target="_blank" class="social-btn linkedin-btn"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div><!-- end team member -->
			<% end %>
		</div><!-- end container -->
	</div>
	
	<div class="container testimonials">
		<h2>Testimonials</h2><br><br>
		<div class="testimonial-slider">
			<% @testimonials.each do |testimonial| %>
				<div class="t-slide">
					<h4>"<%= testimonial.body %>"</h4>
					<p><%= testimonial.signature %></p>
				</div>
			<% end %>
		</div><!-- end testimonials list -->
		<br><br>
	</div><!-- end testimonial container -->

</section><!-- end team section -->