<section id="process" class="process section parallax2">

	<section class="callout">
		<h2 class="title"><%= @headline.title %></h2>
		<h4 class="subtitle"><%= @headline.subtitle %></h4>
	</section>

	<div class="container">
		<h4>We support executive and professional recruitment within corporate tax groups.</h4>
		<br>
		<div class="three columns">&nbsp;</div>
		<div class="five columns about-item">
			<a href="#" class="icon-btn"><i class="fa fa-star fa-4x"></i></a>
			<h5>Executive</h5>
			Chief Tax Officer, Senior Vice President of Tax, Vice President of Tax
		</div>
		<div class="five columns about-item">
			<a href="#" class="icon-btn"><i class="fa fa-briefcase fa-4x"></i></a>
			<h5>Professional</h5>
			Tax Director, Tax Manager, Tax Supervisor, Tax Specialist, Tax Analyst
		</div>
		<div class="three columns">&nbsp;</div>
	</div>

</section><!-- end process -->


<!-- ///////////// Process Section ///////////// -->

<section id="strategy" class="process section parallax2">
	<div class="container">

		<h2 class="title">Our Placement Strategy</span></h2>
		<h4 class="subtitle" style="font-size:18px;">We ask questions. You ask questions.</h4>
		<br>

		<% @strategies.each do |strategy| %>
			<div class="four columns process-col">
				<div class="icon-box"><i class="fa fa-<%= strategy.icon %> fa-3x"></i></div>
				<h5><%= strategy.title %></h5>
				<p><%= strategy.description %></p>
			</div>
		<% end %>

	</div><!-- end container -->
</section><!-- end process -->