<section id="home" class="section"> 

	<div id="slides">
		<div class="slides-container">
			<!-- Full Screen Slides-->
			<div class="slide-1"></div>
		</div><!-- end slider container -->
	</div><!-- end slides -->

	<div class="container header slider-home">
		
		<!-- Header Text -->
		<div class="headertext-slider">
			<div class="headertext">
				<span class="slabtext">We focus our efforts</span>
				<span class="slabtext">within one specialization:</span>
				<span class="slabtext">Tax Recruiting</span>
			</div>
			<div class="headertext">
				<span class="slabtext">We deliver</span>
				<span class="slabtext">high-performing</span>
				<span class="slabtext">professional tax talent</span>
			</div>
			<div class="headertext">
				<span class="slabtext">and we provide</span>
				<span class="slabtext">our network with</span>
				<span class="slabtext">tremendous tax opportunities</span>
			</div>
		</div><!-- end header text -->

		<br>
		<a href="contact.html" class="button big-btn" name="submit">Work With Us</a>
		<br> 
		<a href="#portfolio" class="header-down-arrow scroll link"></a>

	</div><!-- end header container -->
</section><!-- end home section -->


<section id="portfolio" class="section">

	<div class="container">

		<h4 class="subtitle">New Opportunities</h4>

		<!-- Project Expander -->
		<div class="item-expander">
			<div id="item-expander">
				<p class="close-btn"><a class="close"></a></p>
				<div class="expander-container"></div>
			</div>
		</div>

		<!-- Portfolio Filters -->
		<div id="options" class="container filter-menu">
			<ul id="filters" class="option-set" data-option-key="filter">
				<li><a href="#filter" data-option-value="*" class="selected">All</a></li>
				<li><a href="#filter" data-option-value=".chicago">Chicago</a></li>
				<li><a href="#filter" data-option-value=".houston">Houston</a></li>
			</ul>
		</div>
	
		<div id="portfolio-container">
		<!-- Portfolio Items -->
			<div class="portfolio-items">
				<% @jobs.each do |job| %>
					<div class="item <%= (job.location == 'Chicago, IL') ? 'chicago' : 'houston' %>">
						<%= image_tag "project-1.jpg" %>
						<div class="mask">
						</div>
						<h5><%= link_to job.title, job %></h5>
						<p><%= job.industry %> | <%= job.location %></p>
					</div>
				<% end %>
			</div>
		</div><!-- end portfolio items -->
	</div><!-- end container -->
</section><!-- end portfolio section -->


<!-- ///////////// Contact Section ///////////// -->

<section id="contact" class="section">
	<div class="container">

		<h2 class="title">Start a Conversation</h2>
		<h4 class="subtitle">If you are a company looking for great talent or a tax professional interested in a conversation<br>about existing opportunities, fill out the form below and we will get in touch.</h4>
		
		<div class="contact-form">
			
			<div class="error-container">
				<span class="error" id="error-name">Please enter your name</span>
				<span class="error" id="error-email">Please enter your email</span>
				<span class="error" id="error-valid-email">Your e-mail is not a valid format</span>
				<span class="error" id="error-valid-phone">Your phone number is not a valid format</span>
				<span class="error" id="error-timedout">The email submission timed out. Please try again.</span>
				<span class="error" id="error-state">Oops! An error occurred. Please try again later.</span>
				<span class="success" id="email-success">Message received! Thank you.</span>
			</div><!-- end error messages -->

			<form id="contact-us" method="post" action="php/mail.php">
				
				<div class="eight columns">
					<input type="text" name="name" id="name" required="required" placeholder="Name" />
					<input type="email" name="email" id="email" required="required" placeholder="Email" />
					<input type="text" name="phone" id="phone" placeholder="Phone" />
				</div>

				<div class="eight columns">
				<textarea name="message" id="message" placeholder="Message"></textarea>
				</div>

				<button type="submit" id="submit" name="submit">Send Message</button> 
			</form>
		</div><!-- end contact form -->

	</div><!-- end container -->
</section><!-- end map section -->
