<section id="home" class="section"> 

	<div id="slides">
		<div class="slides-container">
			<!-- Full Screen Slides-->
			<div class="slide-1"></div>
		</div><!-- end slider container -->
	</div><!-- end slides -->

	<div class="container header slider-home">
		
		<!-- Header Text -->
		<div class="headertext-slider">
			<% @headlines.each do |headline| %>
				<div class="headertext">
					<% if !headline.line1.blank? %><span class="slabtext"><%= headline.line1 %></span><% end %>
					<% if !headline.line2.blank? %><span class="slabtext"><%= headline.line2 %></span><% end %>
					<% if !headline.line3.blank? %><span class="slabtext"><%= headline.line3 %></span><% end %>
				</div>
			<% end %>
		</div><!-- end header text -->

		<br>
		<a href="contact.html" class="button big-btn" name="submit">Work With Us</a>
		<br> 
		<a href="#portfolio" class="header-down-arrow scroll link"></a>

	</div><!-- end header container -->
</section><!-- end home section -->


<section id="portfolio" class="section">

	<div class="container">

		<h4 class="subtitle">New Opportunities</h4>

		<!-- Project Expander -->
		<div class="item-expander">
			<div id="item-expander">
				<p class="close-btn"><a class="close"></a></p>
				<div class="expander-container"></div>
			</div>
		</div>

		<!-- Portfolio Filters -->
		<div id="options" class="container filter-menu">
			<ul id="filters" class="option-set" data-option-key="filter">
				<li><a href="/opportunities" class="selected">All</a></li>
				<li><a href="/opportunities?market=Chicago">Chicago</a></li>
				<li><a href="/opportunities?market=Houston">Houston</a></li>
			</ul>
		</div>
	
		<!-- Portfolio Items -->
		<div class="job-listings">
			<% @jobs.each do |job| %>
				<div class="job-listing <%= (job.market == 'Chicago') ? 'chicago' : 'houston' %>">
					<h5><%= link_to job.title, job %></h5>
					<p><%= job.location %> | <%= job.industry %></p>
					<%= link_to "View More", job, :class => "job-listing-tag" %>
				</div>
			<% end %>
		</div>
	</div><!-- end portfolio items -->
</section><!-- end portfolio section -->


<!-- ///////////// Contact Section ///////////// -->

<section id="contact" class="section">
	<div class="container">

		<h2 class="title"><%= @contact.title %></h2>
		<h4 class="subtitle"><%= @contact.subtitle %></h4>
		
		<div class="contact-form">
			
			<div class="error-container">
				<span class="error" id="error-name">Please enter your name</span>
				<span class="error" id="error-email">Please enter your email</span>
				<span class="error" id="error-valid-email">Your e-mail is not a valid format</span>
				<span class="error" id="error-valid-phone">Your phone number is not a valid format</span>
				<span class="error" id="error-timedout">The email submission timed out. Please try again.</span>
				<span class="error" id="error-state">Oops! An error occurred. Please try again later.</span>
				<span class="success" id="email-success">Message received! Thank you.</span>
			</div><!-- end error messages -->

			<%= form_for @inquiry, :html => {:id => 'contact-us' } do |f| %>
				<div class="eight columns">
			    	<%= f.text_field :name, :required => true, id: "name", placeholder: "Name", required: true %>
			    	<%= f.text_field :email, :required => true, id: "email", placeholder: "Email", required: true %>
			    	<%= f.text_field :phone, id: "phone", placeholder: "Phone", required: true %>
			    </div>
			    <div class="eight columns">
			    	<%= f.text_area :message, :required => true, placeholder: "Message" %>
			    </div>
			    </br>
			    <%= f.submit "Send message", :class=> "btn btn-primary" %>
			<% end %>

		</div><!-- end contact form -->

	</div><!-- end container -->
</section><!-- end map section -->
