<section id="portfolio" class="section">

	<section class="callout">
		<h2 class="title"><%= @headline.title %></h2>
		<h4 class="subtitle"><%= @headline.subtitle %></h4>
	</section>

	<div class="opportunities-container">

		<!-- Portfolio Filters -->
		<div id="options" class="container filter-menu">
			<ul id="filters" class="option-set" data-option-key="filter">
				<li><a href="/opportunities" class="<%= params[:market].nil? ? 'selected' : ''%>">All</a></li>
				<li><a href="/opportunities?market=Chicago" class="<%= params[:market] == 'Chicago' ? 'selected' : ''%>">Chicago</a></li>
				<li><a href="/opportunities?market=Houston" class="<%= params[:market] == 'Houston' ? 'selected' : ''%>">Houston</a></li>
			</ul>
		</div>
	
		<!-- Portfolio Items -->
		<div class="job-listings">
			<% @jobs.each do |job| %>
				<div class="job-listing <%= (job.market == 'Chicago') ? 'chicago' : 'houston' %>">
					<h5><%= link_to job.title, job %></h5>
					<p><%= job.location %> | <%= job.industry %></p>
					<%= link_to "View More", job, :class => "job-listing-tag" %>
				</div>
			<% end %>
		</div>
	</div><!-- end container -->
</section><!-- end portfolio section -->